{% extends "koota/base.html" %}

{% block body %}

<h1>Oxford 2016 study</h1>

{% if not is_in_oxford_study %}
<b>You are not currently enrolled in the Oxford study, so many things may
be missing here.</b>
{% endif %}


<p>Welcome to the page of the Oxford 2016 study.  Your username is
{{request.user.username}}.</p>

<p>To get started, follow the steps below:</p>


{% for action in actions%}
<div class="panel panel-default">
<div class="panel-heading"> <h3 class="panel-title">{{ action.heading }}</h3></div>
{# {{ action.heading }}</h3>#}
<div class="panel-body">
{% if not action.exists %}
  Device for {{action}} device does not exist!
{% else %}
  {{ action.render }}
{% endif %}
</div>
</div>
{% endfor %}

<h2>More information</h2>

<p>Put more information about the study here, including links.</p>

<h2>Your data</h2>

<p>You can see all raw data collected at
<a href="{% url 'device-list' %}">your device list</a>.</p>

<br>
<br>
<br>
<br>



{% endblock %}
